/* Global Styles */
:root,
h1,
h2,
h3,
h4 {
  color: #191717;
  background-color: #fcfcfc;
  font-family: 'Spectral', Georgia, 'Times New Roman', Times, serif;
  --weight400: 400;
  --weight500: 500;
  --weight600: 600;
  --weight700: 700;
}

body {
  margin: 0;
  padding: 0;
}

/* Text */
h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h4 {
  font-weight: 500;
}

p {
  font-weight: var(--weight400);
  font-size: 18px;
}

/* Heading */
ul {
  padding: 0px;
}

ul li {
  list-style: none;
}

/* Layout */
header,
footer,
.main-content {
  padding-left: 80px;
}


header {
  width: 100%;
  border-bottom: 1px solid #eee;
}

nav {
  display: flex;
  justify-content: flex-start;
}

nav ul {
  display: flex;
  align-items: flex-start;
  padding: 0;
}

nav ul>* {
  padding: .5rem;
}

nav ul :first-child {
  padding-left: 0px;
}

nav ul li {
  list-style: none;
  color: #191717;
  /* text-decoration: none; */
}

nav ul li a {
  text-decoration: none;
}

section {
  padding: 0px;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  max-width: 80%;
}

.intro>* {
  margin-bottom: 16px;
}

/* Content */
.main-content {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin-right: 24px;
}

.contentWrap>* {
  margin-bottom: 1rem;
}

.section-title {
  margin-bottom: 12px;
  border-bottom: #ababab 1.5px solid;
  max-width: 10%;
}

/* Case Studies */
.case-studies h2 {
  margin: 12px 0;
}

.case-study-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.case-study-wrapper>* {
  margin-bottom: 12px;
}

.case-study h3 {
  padding-bottom: 8px;
}

/* Footer */
footer {
  margin-top: 7rem;
}

@media screen and (max-width: 768px) {

  header,
  footer,
  .main-content {
    padding-left: 52px;
  }
}

@media screen and (max-width: 375px) {

  header,
  footer,
  .main-content {
    padding-left: 16px;
  }

}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}